# node & co.
node_modules/
.next/

# fonts
public/fonts/ia-writer-mono
public/fonts/ia-writer-quattro
public/fonts/sang-bleu
public/fonts/scheherazade

# blog
blog-index.json
/blog
.env

# infra
.vercel
