@import url(./sangbleu.css);

html, body, #app {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font: 20px/120% 'SangBleu Republic Regular', Times, serif;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 20px;
    line-height: 120%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}


main {
  max-width: 450px;
  flex-grow: 1;
}

nav {
  white-space: nowrap;
}

nav a {
  display: inline-block;
  margin-right: 7px;
  padding: 2px 5px;

  text-decoration: underline;
  transition: opacity 100ms ease-in;
}

nav a:hover {
  opacity: .8;
}

nav a.contact {
  text-decoration: none;
}
