@font-face {
  font-family: 'SangBleu Republic';
  src: url('./sang-bleu/SangBleuRepublic-Regular-WebM.woff2') format('woff2'),
    url('./sang-bleu/SangBleuRepublic-Regular-WebM.woff') format('woff');
}

@font-face {
  font-family: 'iA Writer Quattro';
  src: url('./ia-writer-quattro/iAWriterQuattroS-Regular.woff2') format('woff2'),
    url('./ia-writer-quattro/iAWriterQuattroS-Regular.woff') format('woff');
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 35px;

  font: 24px/100% 'SangBleu Republic', 'Times New Roman', times, serif;
}

.container {
  display: flex;
  flex-direction: column;
}

header,
main {
  max-width: 550px;
}

main {
  flex-shrink: 0;
  flex-grow: 1;
}

a {
  color: rgb(55, 41, 158);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

a:hover {
  color: rgba(55, 41, 158, 0.75);
}

a.active {
  color: inherit;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
  font-weight: normal;
  line-height: 140%;
  margin: 0 0 25px;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 37px;
  font-weight: bold;
}

p {
  line-height: 140%;
  margin: 0 0 25px;
}

li {
  font-size: 18px;
  line-height: 140%;
}

li a {
  word-break: break-all;
}

p:last-child {
  margin-bottom: 0;
}

a#pgp {
  display: inline-block;
  margin: 2px 10px;
  font: 20px/100% 'iA Writer Quattro', monospace;
}

@media screen and (max-width: 620px) {
  body {
    font-size: 20px;
    padding: 15px;
  }

  header,
  main {
    max-width: 420px;
  }

  h1 {
    font-size: 20px;
    margin: 0 0 10px;
  }

  p {
    margin: 0 0 15px;
  }

  a#pgp {
    font-size: 16px;
  }
}
