.log-overview {
  margin-top: 40px;
}

.log-overview ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.log-overview ul li {
  margin: 0 0 20px;
  padding: 0;
}

.log-overview ul li:last-child {
  margin-bottom: 0;
}

.log-overview ul li a span {
  display: inline-block;
  margin-right: 12px;

  font-family: 'iA Writer Quattro';
  font-size: 60%;
}

.log-overview ul li a h4 {
  display: inline-block;
  margin: 0;

  font-size: inherit;
  font-weight: normal;
}
