@font-face {
  font-family: Scheherazade;
  src: url('https://static.kassel.works/scheherazade/scheherazade-regular.woff');
}

@font-face {
  font-family: Scheherazade;
  font-weight: bold;
  src: url('https://static.kassel.works/scheherazade/scheherazade-bold.woff');
}

.farsi {
  direction: rtl;
  text-align: right;
  font-family: Scheherazade;
  font-weight: bold;
}
