.wrapper {
  max-width: 498px;
}
.wrapper.fill {
  flex-shrink: 0;
  flex-grow: 1;
}

@media (min-width: 671px) {
  .wrapper {
    max-width: 672px;
  }
}

.nav {
  font: 20px/100% 'iA Writer Quattro';
}
.nav .button {
  display: inline-block;

  border: 2px solid var(--darkish);
  border-radius: 6px;
  padding: 6px 8px;

  color: var(--darkish);
  transition: opacity 250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.nav .button img {
  width: auto;
  height: 18px;
  margin-left: 8px;
}
.nav .button:hover {
  opacity: 0.8;
}
.nav ul {
  margin: 12px 0 0 -4px;
  padding: 0;
  list-style: none;
}
.nav ul li {
  display: block;
  margin: 0 4px;
  padding: 4px 8px 4px 10px;
  font-size: inherit;
}
.nav ul li a.active {
  color: var(--blue-hover);
  cursor: default;
}
